# Jupiter artifacts
**/.ipynb_checkpoints/**

# Python artifacts
**/__pycache__/**

# OS X detritus
.DS_Store
._.DS_Store
**/._**

# trax/tensorflow artifacts
**/events.out.tfevents**
**/config.gin
**/*.pkl
**/*.npy.gz
**/*.pkl.gz
